@import url(fonts/clear-sans.css);
html, body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px; }
a {
  color: #776e65;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer; }

.container {
  width: 1450px;
  margin: 0 auto; }

.game-container {
  position: relative;
  padding: 15px;
  cursor: default;

  background: #bbada0;
  border-radius: 6px;
  width: 700px;
  height: 700px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin:5px;}

.grid-container {
  position: absolute;
  z-index: 1; }

.grid-row {
  margin-bottom: 5px; }
  .grid-row:last-child {
    margin-bottom: 0; }
  .grid-row:after {
    content: "";
    display: block;
    clear: both; }

.grid-cell {
  width: 56px;
  height: 56px;
  margin-right: 5px;
  float: left;
  border-radius: 3px;
  background: rgba(238, 228, 218, 0.35); }
  .grid-cell:last-child {
    margin-right: 0; }


@media screen and (max-width: 1550px) {
  html, body {
    font-size: 20px;
  }

  body {
    margin-top: 0;
  }

  .container {
    width: 1100px;
    margin: 0 auto;
  }

  .game-container {
    position: relative;
    padding: 10px;
    cursor: default;

    background: #bbada0;
    border-radius: 6px;
    width: 500px;
    height: 500px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .grid-container {
    position: absolute;
    z-index: 1;
  }

  .grid-row {
    margin-bottom: 4px;
  }

  .grid-row:last-child {
    margin-bottom: 0;
  }

  .grid-row:after {
    content: "";
    display: block;
    clear: both;
  }

  .grid-cell {
    width: 40px;
    height: 40px;
    margin-right: 4px;
    float: left;
    border-radius: 3px;
    background: rgba(238, 228, 218, 0.35);
  }

  .grid-cell:last-child {
    margin-right: 0;
  }
}


@media screen and (max-width: 1050px) {
  html, body {
    font-size: 15px;
  }

  body {
    margin-top: 0;
  }

  .container {
    width: 550px;
    margin: 0 auto;
  }

  .game-container {
    position: relative;
    padding: 10px;
    cursor: default;

    background: #bbada0;
    border-radius: 6px;
    width: 280px;
    height: 280px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .grid-container {
    position: absolute;
    z-index: 1;
  }

  .grid-row {
    margin-bottom: 4px;
  }

  .grid-row:last-child {
    margin-bottom: 0;
  }

  .grid-row:after {
    content: "";
    display: block;
    clear: both;
  }

  .grid-cell {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    float: left;
    border-radius: 3px;
    background: rgba(238, 228, 218, 0.35);
  }

  .grid-cell:last-child {
    margin-right: 0;
  }
}


label{
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 5px 10px;
}
label:hover{
  border: 1px solid grey;
}

.game{
  display: inline-flex;
  margin: 10px 0;
}

.black{
  background-color: black;
}

.white{
  background-color: white;
}
.gray{
  background-color: gray;
}
.red{
  background-color: red;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}